<div class="list-absence__container">
    <div class="list-absence__header">
        <div class="list-absence__start-date">Date de début</div>
        <div class="list-absence__end-date">Date de fin</div> 
        <div class="list-absence__motif">Motif saisi</div>
        <div class="list-absence__type">Type de demande</div>
        <div class="list-absence__statut">Statut</div>
    </div>

    <div *ngFor="let absence of absences" class="list-absence__list-container">
        <div class="list-absence__start-date">{{absence.dateStart | date : 'dd/MM'}}</div>
        <div class="list-absence__end-date">{{absence.dateEnd  |date : 'dd/MM'}}</div> 
        <div class="list-absence__motif">{{(absence.motif=="" || absence.motif == null )?"Aucun motif saisi":absence.motif}}</div>
        <div class="list-absence__type">{{getAbsenceTypeString(absence.type)}}</div>
        <div class="list-absence__statut">{{getAbsenceStatusString(absence.status)}}</div>
    </div>
</div>
