<div class="calendrier">
  <div class="entete">
    <button (click)="moisPrecedent()">Mois précédent</button>
    <h2>{{ mois.format('MMMM YYYY') }}</h2>
    <button (click)="moisSuivant()">Mois suivant</button>
  </div>
  <div class="semaines">

    <div class="container">
      <div class="jour-semaine" *ngFor="let libelleJour of ['L', 'M', 'M', 'J', 'V', 'S', 'D']">
        {{ libelleJour }}
      </div>
    </div>

    <div *ngFor="let semaine of semaines" class="semaine">
      <div *ngFor="let jour of semaine" class="jour">

          <button *ngIf="jour.isSame(mois, 'month')" class="jour-mois">
            {{ jour.date() }}
          </button>

        <!-- Si le jour n'est pas pareil qu'un autre jour, alors on passe sur un autre mois -->
        <span *ngIf="!jour.isSame(mois, 'month')" class="jour-autre-mois"></span>
      </div>
      
    </div>

    
  </div>
</div>