.jour-semaine {
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
  
  .jour {
    text-align: center;
    margin-bottom: 10px;
    border: solid 1px;
    width: 25px;
    display: inline-block;
  }
  