<div class="passwordReset__form-container">
    <form [formGroup]="passwordResetForm" (ngSubmit)="submitForm()">
        <mat-form-field class="passwordReset__login-form-field">
            <mat-label>Adresse mail</mat-label>
            <input matInput #email type="email" formControlName="email" />
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit">Envoyer mail</button>
        </div>
    </form>
    <div *ngIf="mailSent==true">mail envoyé</div>
</div>

