.calendar-wrapper{
  display:flex;
  margin: 5rem;
}

::ng-deep.cellHighlight{
  &-weekend{
    background: lightgrey!important;
      border-radius: 0%;
  }
  &-conge-perso{
      background: orange!important;
      border-radius: 0%;
  }
  &-basic{
    border-radius: 100%;
  }
 }